h1 {
    color: rgb(255, 0, 0);
 }

 #first {
     color: rgb(27, 218, 109); text-decoration: salmon; text-transform: capitalize; text-align: center;
 }

 #second{
    color: royalblue; text-align:justify;
 }

 ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
    grid-template-rows: auto minmax(0, 40px);
    grid-auto-rows: 15px;
    overflow: hidden;
    border: 1px solid orange;
    padding: 0;
  }
  
  li {
    list-style: none;
    padding: 10px;
    background: black;
    color: white;
  }
  
  
  body {
   width: 650px;
  }