h1 {
    color: rgb(255, 0, 0);
 }

 #first {
     color: rgb(27, 218, 109); text-decoration: salmon; text-transform: capitalize; text-align: center;
 }

 #second{
    color: royalblue; text-align:left;
 }